/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

th {
  font-family: 'Rock Salt', cursive;
  color:rgb(233, 221, 221)
}
 
td {
  text-align: center;
}

table{
  width: 100%;
}
